/*SELECIONA TODOS OS ELEMENTOS*/
* {
    margin: 0;
    padding: 0;
    font-family: 'News Cycle', sans-serif;
}
  
  /*CORES DO SITE*/
:root{
    --cor1:#FC8413; /*laranja*/
    --cor2:#00A599; 
    --cor3:#E8C230; 
  
}
  /*FONTE DO SITE: BUSCANDO NO GOOGLE A FONTE*/
  @import url('https://fonts.googleapis.com/css2?family=Mooli&family=News+Cycle:wght@400;700&display=swap');
  
  /*todos os links*/
a {
    text-decoration: none; /*sem a linha de baixo*/
    color: black;
    font-family: 'News Cycle', sans-serif;
}
a:hover{
    opacity: 0.7;
}
.logo{
    width: 32px;
    height: 2px;
    font-weight: bold;
    letter-spacing: 3px;
    margin: 8px;
    position:relative ;
    opacity: 0.7;
    
}
  
h2{
    font-family: 'News Cycle', sans-serif;
}
  /*MENU*/
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'News Cycle', sans-serif;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 6.5vh;
}
.menu{ 
    list-style: none;
    display: flex;
    margin-left: 150px;
    
}
/*MENU - itens*/
.menu li{
    letter-spacing: 3px;
    margin-left: 32px;
    cursor: pointer;
}
.btn-adotar:hover{
    background-color: #FFFFFF;
    color: #FC8413;
    font-weight: bold;
    transform: scale(1.2);
}
  
.btn-entrar:hover{
    background-color: #FFFFFF;
    color: #E8C230;
    font-weight: bold;
    transform: scale(1.2);
}
  
.btn-adotar{
    align-items: center;
    text-align: center;
    margin-left: 600px;
    margin-right: 10px;
    justify-content: center;
    cursor: pointer;
    border: none;
    text-decoration: none;
    list-style: none;
    letter-spacing: 1px;
    display: flex;
    width: 140px;
    height: 41px;
    font-weight: bold;
    color: #FFFFFF;
    border: 1px solid #FC8413;
    background-color: #FC8413;
    border-radius: 5px;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}
  
.btn-entrar{
    align-items: center;
    text-align: center;
    margin-left: 600px;
    margin-right: 150px;
    justify-content: center;
    cursor: pointer;
    border: none;
    text-decoration: none;
    list-style: none;
    margin-left: 5px;
    letter-spacing: 1px;
    display: flex;
    width: 140px;
    height: 41px;
    font-weight: bold;
    color: #FFFFFF;
    border: 1px solid #E8C230;
    background-color: #E8C230;
    border-radius: 5px;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}

/*CABEÇALHO*/
.conteiner-adotar{
    position: absolute;
    width: 2000px;
    height: 326px;
    font-family: 'News Cycle', sans-serif;
    top: 56px;
    
    background: #EDD9A5;
}

.conteiner-adotar h2{
    position: absolute;
    left: 190px;
    top: 150px;
    font-style: normal;
    font-weight: 700;
    font-size: 39px;
    line-height: 64px;

    color: #B1A37E;


}

.conteiner-adotar-p{
    position: absolute;
    left: 190px;
    top: 230px;

    font-family: 'News Cycle', sans-serif;
    font-style: normal;
    font-size: 20px;

    color: #B1A37E;

}

/*CARD DO ANIMAIS - 01*/
.card-adotar-1{
    position: absolute;
    width: 316px;
    height: 419px;
    left: 220px;
    top: 380px;

    background: #FFFFFF;
    box-shadow: 0.5px 10px #e6e6e6;
    border-radius: 15px;
}

.card-adotar-1 .imgBx1{
    position: absolute;
    width: 214px;
    height: 236px;
    left: 50px;
    top: 10px;
}
.card-adotar-1 .card-adotar-p-1{
    position: absolute;
    width: 303px;
    height: 50px;
    left: 15px;
    top: 260px;

    font-family: 'News Cycle', sans-serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;

    color: #FC8413;
}

.card-adotar-1 h3{

    color: #000000;
    font-family: 'News Cycle', sans-serif;
    font-weight: normal;
    font-size: 20px;
    margin-top: 280px;
    margin-left: 20px;
}

.card-adotar-1 .btn-adotar-para-formulario{

    
    width: 299px;
    height: 41px;
    margin-left: 10px;
    margin-top: 30px;
    color: #FFFFFF;

    border: 1px solid #FC8413;
    background-color: #FC8413;
    border-radius: 5px;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
    
}

.btn-adotar-para-formulario:hover{
    background-color: #FFFFFF;
    color: #FC8413;
    font-weight: bold;
    transform: scale(1.2);
}

/*CARD DO ANIMAIS - 02*/

.card-adotar-2{
    position: absolute;
    width: 316px;
    height: 419px;
    left: 620px;
    top: 380px;

    background: #FFFFFF;
    box-shadow: 0.5px 10px #e6e6e6;
    border-radius: 15px;
}

.card-adotar-2 .imgBx2{
    position: absolute;
    width: 214px;
    height: 236px;
    left: 50px;
    top: 10px;
}
.card-adotar-2 .card-adotar-p-2{
    position: absolute;
    width: 303px;
    height: 50px;
    left: 15px;
    top: 260px;

    font-family: 'News Cycle', sans-serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;

    color: #FC8413;
}

.card-adotar-2 h3{

    color: #000000;
    font-family: 'News Cycle', sans-serif;
    font-weight: normal;
    font-size: 20px;
    margin-top: 280px;
    margin-left: 20px;
}

.card-adotar-2 .btn-adotar-para-formulario2{

    
    width: 299px;
    height: 41px;
    margin-left: 10px;
    margin-top: 30px;
    color: #FFFFFF;

    border: 1px solid #FC8413;
    background-color: #FC8413;
    border-radius: 5px;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
    
}

.btn-adotar-para-formulario2:hover{
    background-color: #FFFFFF;
    color: #FC8413;
    font-weight: bold;
    transform: scale(1.2);
}

/*CARD DO ANIMAIS - 03*/
.card-adotar-3{
    position: absolute;
    width: 316px;
    height: 419px;
    left: 1020px;
    top: 380px;

    background: #FFFFFF;
    box-shadow: 0.5px 10px #e6e6e6;
    border-radius: 15px;
}

.card-adotar-3 .imgBx3{
    position: absolute;
    width: 214px;
    height: 236px;
    left: 50px;
    top: 10px;
}
.card-adotar-3 .card-adotar-p-3{
    position: absolute;
    width: 303px;
    height: 50px;
    left: 15px;
    top: 260px;

    font-family: 'News Cycle', sans-serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;

    color: #FC8413;
}

.card-adotar-3 h3{

    color: #000000;
    font-family: 'News Cycle', sans-serif;
    font-weight: normal;
    font-size: 20px;
    margin-top: 280px;
    margin-left: 20px;
}

.card-adotar-3 .btn-adotar-para-formulario3{

    
    width: 299px;
    height: 41px;
    margin-left: 10px;
    margin-top: 30px;
    color: #FFFFFF;

    border: 1px solid #FC8413;
    background-color: #FC8413;
    border-radius: 5px;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
    
}

.btn-adotar-para-formulario3:hover{
    background-color: #FFFFFF;
    color: #FC8413;
    font-weight: bold;
    transform: scale(1.2);
}

/*CARD DO ANIMAIS - 04*/
.card-adotar-4{
    position: absolute;
    width: 316px;
    height: 419px;
    left: 220px;
    top: 934px;

    background: #FFFFFF;
    box-shadow: 0.5px 10px #e6e6e6;
    border-radius: 15px;
}

.card-adotar-4 .imgBx4{
    position: absolute;
    width: 214px;
    height: 236px;
    left: 50px;
    top: 10px;
}
.card-adotar-4 .card-adotar-p-4{
    position: absolute;
    width: 303px;
    height: 50px;
    left: 15px;
    top: 260px;

    font-family: 'News Cycle', sans-serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;

    color: #FC8413;
}

.card-adotar-4 h3{

    color: #000000;
    font-family: 'News Cycle', sans-serif;
    font-weight: normal;
    font-size: 20px;
    margin-top: 280px;
    margin-left: 20px;
}

.card-adotar-4 .btn-adotar-para-formulario4{

    
    width: 299px;
    height: 41px;
    margin-left: 10px;
    margin-top: 30px;
    color: #FFFFFF;

    border: 1px solid #FC8413;
    background-color: #FC8413;
    border-radius: 5px;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
    
}

.btn-adotar-para-formulario3:hover{
    background-color: #FFFFFF;
    color: #FC8413;
    font-weight: bold;
    transform: scale(1.2);
}
/*CARD DO ANIMAIS - 05*/
.card-adotar-5{
    position: absolute;
    width: 316px;
    height: 419px;
    left: 620px;
    top: 934px;

    background: #FFFFFF;
    box-shadow: 0.5px 10px #e6e6e6;
    border-radius: 15px;
}

.card-adotar-5 .imgBx5{
    position: absolute;
    width: 214px;
    height: 236px;
    left: 50px;
    top: 10px;
}
.card-adotar-5 .card-adotar-p-5{
    position: absolute;
    width: 303px;
    height: 50px;
    left: 15px;
    top: 260px;

    font-family: 'News Cycle', sans-serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;

    color: #FC8413;
}

.card-adotar-5 h3{

    color: #000000;
    font-family: 'News Cycle', sans-serif;
    font-weight: normal;
    font-size: 20px;
    margin-top: 280px;
    margin-left: 20px;
}

.card-adotar-5 .btn-adotar-para-formulario5{

    
    width: 299px;
    height: 41px;
    margin-left: 10px;
    margin-top: 30px;
    color: #FFFFFF;

    border: 1px solid #FC8413;
    background-color: #FC8413;
    border-radius: 5px;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
    
}

.btn-adotar-para-formulario5:hover{
    background-color: #FFFFFF;
    color: #FC8413;
    font-weight: bold;
    transform: scale(1.2);
}

/*CARD DO ANIMAIS - 06*/
.card-adotar-6{
    position: absolute;
    width: 316px;
    height: 419px;
    left: 1020px;
    top: 934px;

    background: #FFFFFF;
    box-shadow: 0.5px 10px #e6e6e6;
    border-radius: 15px;
}

.card-adotar-6 .imgBx6{
    position: absolute;
    width: 214px;
    height: 236px;
    left: 50px;
    top: 10px;
}
.card-adotar-6 .card-adotar-p-6{
    position: absolute;
    width: 303px;
    height: 50px;
    left: 15px;
    top: 260px;

    font-family: 'News Cycle', sans-serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;

    color: #FC8413;
}

.card-adotar-6 h3{

    color: #000000;
    font-family: 'News Cycle', sans-serif;
    font-weight: normal;
    font-size: 20px;
    margin-top: 280px;
    margin-left: 20px;
}

.card-adotar-6 .btn-adotar-para-formulario6{

    
    width: 299px;
    height: 41px;
    margin-left: 10px;
    margin-top: 30px;
    color: #FFFFFF;

    border: 1px solid #FC8413;
    background-color: #FC8413;
    border-radius: 5px;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
    
}

.btn-adotar-para-formulario6:hover{
    background-color: #FFFFFF;
    color: #FC8413;
    font-weight: bold;
    transform: scale(1.2);
}

/*CONTENER RODAPÉ*/
.conteiner-buttom{

    position: absolute;
    width: 2000px;
    height: 300px;
    left: 3px;
    top: 1500px;
  
    background: #07665F;
    border-radius: 5px;
  }
  
  .conteiner-buttom img{
    position: absolute;
    width: 158px;
    height: 156px;
    left: 380px;
    top: 7px;
  }
  
  .conteiner-buttom p{
    position: absolute;
    width: 317px;
    height: 99px;
    left: 450px;
    top: 122px;
    font-family: 'News Cycle', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: justify;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .conteiner-buttom h3{
    position: absolute;
    width: 97px;
    height: 31px;
    left: 850px;
    top: 54px;
    font-family: 'News Cycle', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 31px;
    text-align: justify;
    color: #FC8413;
  } 
  
  .conteiner-item1{
  
    font-family: 'News Cycle', sans-serif;
    position: absolute;
    width: 106px;
    height: 31px;
    left: 850px;
    top: 101px;
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 31px;
    text-align: justify;
    color: #FFFFFF;
  }
  
  .conteiner-item2{
  
    font-family: 'News Cycle', sans-serif;
    position: absolute;
    width: 106px;
    height: 31px;
    left: 850px;
    top: 140px;
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 31px;
    text-align: justify;
    color: #FFFFFF;
  }
  