/*SELECIONA TODOS OS ELEMENTOS*/
* {
    margin: 0;
    padding: 0;
    font-family: 'News Cycle', sans-serif;
  }
  
  /*CORES DO SITE*/
  :root{
    --cor1:#FC8413; /*laranja*/
    --cor2:#00A599; 
    --cor3:#E8C230; 
  
  }
  /*FONTE DO SITE: BUSCANDO NO GOOGLE A FONTE*/
  
    @import url('https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&display=swap');
  /*todos os links*/
  a {
    text-decoration: none; /*sem a linha de baixo*/
    color: black;
    font-family: 'News Cycle', sans-serif;
  }
  a:hover{
    opacity: 0.7;
  }
  .logo{
    width: 32px;
    height: 2px;
    font-weight: bold;
    letter-spacing: 3px;
    margin: 8px;
    position:relative ;
    opacity: 0.7;
    
   }
   /*MENU*/
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'News Cycle', sans-serif;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 6.5vh;
  }
  .menu{ 
    list-style: none;
    display: flex;
    margin-left: 150px;
    
  }
  /*MENU - itens*/
  .menu li{
    letter-spacing: 3px;
    margin-left: 32px;
    cursor: pointer;
  }
  .btn-adotar:hover{
    background-color: #FFFFFF;
    color: #FC8413;
    font-weight: bold;
    transform: scale(1.2);
  }
  
  .btn-entrar:hover{
    background-color: #FFFFFF;
    color: #E8C230;
    font-weight: bold;
    transform: scale(1.2);
  }
  
  .btn-adotar{
    align-items: center;
    text-align: center;
    margin-left: 600px;
    margin-right: 10px;
    justify-content: center;
    cursor: pointer;
    border: none;
    text-decoration: none;
    list-style: none;
    letter-spacing: 1px;
    display: flex;
    width: 140px;
    height: 41px;
    font-weight: bold;
    color: #FFFFFF;
    border: 1px solid #FC8413;
    background-color: #FC8413;
    border-radius: 5px;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
  }
  
  .btn-entrar{
    align-items: center;
    text-align: center;
    margin-left: 600px;
    margin-right: 150px;
    justify-content: center;
    cursor: pointer;
    border: none;
    text-decoration: none;
    list-style: none;
    margin-left: 5px;
    letter-spacing: 1px;
    display: flex;
    width: 140px;
    height: 41px;
    font-weight: bold;
    color: #FFFFFF;
    border: 1px solid #E8C230;
    background-color: #E8C230;
    border-radius: 5px;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
  }
.container-formulário {
    position: absolute;
    width: 2000px;
    height: 397px;
    left: 0px;
    top: 51px;
    background: #9FCDCA;
}
.container-formulário .formulário-texto{
    position: absolute;
    width: 651px;
    height: 62px;
    left: 400px;
    top: 130px;
    
    font-family: 'News Cycle';
    font-style: normal;
    font-weight: 700;
    font-size: 41px;
    line-height: 64px;
    
    color: #07665F;  
}
.container-caixa{
position: absolute;
width: 911px;
height: 1500px;
left: 400px;
top: 288px;

background: #F8F8F8;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;
}
.container-caixa .p1-descrição{
    position: absolute;
    width: 896px;
    height: 87px;
    left: 16px;
    top: 50px;

font-family: 'News Cycle';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 41px;

color: #000000;
}
.container-caixa .resumo{
position: absolute;
width: 104px;
height: 45px;
left: 16px;
top: 200px;

font-family: 'News Cycle';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 41px;

color: #000000;
}
.container-caixa .p2-descrição{
position: absolute;
left: 18px;
top: 240px;

font-family: 'News Cycle';
font-style: normal;
font-weight: 400;
font-size: 19px;
line-height: 30px;

color: #000000;
}
.container-caixa .formulário-titulo{
box-sizing: border-box;

position: absolute;
width: 838px;
height: 58px;
left: 18px;
top: 290px;

background: #FFFFFF;
border: 1px solid #000000;
border-radius: 5px;

}
.container-caixa .relato{
  position: absolute;
  width: 104px;
  height: 45px;
  left: 16px;
  top: 450px;
  
  font-family: 'News Cycle';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 41px;
  
  color: #000000;
}
.container-caixa .p3-descrição{
  position: absolute;
left: 18px;
top: 495px;

font-family: 'News Cycle';
font-style: normal;
font-weight: 400;
font-size: 19px;
line-height: 30px;

color: #000000;
}
.container-caixa textarea.formulário-descrição{
box-sizing: border-box;

position: absolute;
width: 838px;
height: 356px;
left: 18px;
top: 550px;

background: #FFFFFF;
border: 1px solid #000000;
border-radius: 5px;
}
.container-caixa .p4-descrição{
position: absolute;
width: 837px;
height: 173px;
left: 18px;
top: 1050px;

font-family: 'News Cycle';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 41px;

color: #000000;
}
.container-caixa .p5-descrição{
  position: absolute;
width: 837px;
height: 173px;
left: 32px;
top: 1200px;

font-family: 'News Cycle';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 41px;

color: #000000;
}
.container-caixa .informaçoes{
position: absolute;
width: 278px;
height: 64px;
left: 18px;
top: 1328px;

font-family: 'News Cycle', sans-serif;
font-style: normal;
font-weight: 100;
font-size: 24px;
line-height: 41px;
text-decoration-line: underline;
cursor: pointer;

color: #000000;
}
.btn-enviar{
position: absolute;
width: 105px;
height: 51px;
left: 20px;
top: 941px;

background: #07665F;
border-radius: 10px;
}
.btn-cancelar{
  position: absolute;
  width: 105px;
  height: 51px;
  left: 210px;
  top: 941px;
  
  background: #D9D9D9;
  border-radius: 10px;
}  
/*CONTENER RODAPÉ*/
.conteiner-buttom{

  position: absolute;
  width: 2000px;
  height: 300px;
  left: 3px;
  top: 1870px;

  background: #07665F;
  border-radius: 5px;
}

.conteiner-buttom img{
  position: absolute;
  width: 158px;
  height: 156px;
  left: 380px;
  top: 7px;
}

.conteiner-buttom p{
  position: absolute;
  width: 317px;
  height: 99px;
  left: 450px;
  top: 122px;
  font-family: 'News Cycle', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: justify;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.conteiner-buttom h3{
  position: absolute;
  width: 97px;
  height: 31px;
  left: 850px;
  top: 54px;
  font-family: 'News Cycle', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 31px;
  text-align: justify;
  color: #FC8413;
} 

.conteiner-item1{

  font-family: 'News Cycle', sans-serif;
  position: absolute;
  width: 106px;
  height: 31px;
  left: 850px;
  top: 101px;
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 31px;
  text-align: justify;
  color: #FFFFFF;
}

.conteiner-item2{

  font-family: 'News Cycle', sans-serif;
  position: absolute;
  width: 106px;
  height: 31px;
  left: 850px;
  top: 140px;
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 31px;
  text-align: justify;
  color: #FFFFFF;
}
