/*SELECIONA TODOS OS ELEMENTOS*/
* {
    margin: 0;
    padding: 0;
    font-family: 'News Cycle', sans-serif;
  }
  
  /*CORES DO SITE*/
  :root{
    --cor1:#FC8413; /*laranja*/
    --cor2:#00A599; 
    --cor3:#E8C230; 
  
  }
  /*FONTE DO SITE: BUSCANDO NO GOOGLE A FONTE*/
  
    @import url('https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&display=swap');
  /*todos os links*/
  a {
    text-decoration: none; /*sem a linha de baixo*/
    color: black;
    font-family: 'News Cycle', sans-serif;
  }
  a:hover{
    opacity: 0.7;
  }
  .logo{
    width: 32px;
    height: 2px;
    font-weight: bold;
    letter-spacing: 3px;
    margin: 8px;
    position:relative ;
    opacity: 0.7;
    
   }
   /*MENU*/
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'News Cycle', sans-serif;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 6.5vh;
  }
  .menu{ 
    list-style: none;
    display: flex;
    margin-left: 150px;
    
  }
  /*MENU - itens*/
  .menu li{
    letter-spacing: 3px;
    margin-left: 32px;
    cursor: pointer;
  }
  .btn-adotar:hover{
    background-color: #FFFFFF;
    color: #FC8413;
    font-weight: bold;
    transform: scale(1.2);
  }
  
  .btn-entrar:hover{
    background-color: #FFFFFF;
    color: #E8C230;
    font-weight: bold;
    transform: scale(1.2);
  }
  
  .btn-adotar{
    align-items: center;
    text-align: center;
    margin-left: 600px;
    margin-right: 10px;
    justify-content: center;
    cursor: pointer;
    border: none;
    text-decoration: none;
    list-style: none;
    letter-spacing: 1px;
    display: flex;
    width: 140px;
    height: 41px;
    font-weight: bold;
    color: #FFFFFF;
    border: 1px solid #FC8413;
    background-color: #FC8413;
    border-radius: 5px;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
  }
  
  .btn-entrar{
    align-items: center;
    text-align: center;
    margin-left: 600px;
    margin-right: 150px;
    justify-content: center;
    cursor: pointer;
    border: none;
    text-decoration: none;
    list-style: none;
    margin-left: 5px;
    letter-spacing: 1px;
    display: flex;
    width: 140px;
    height: 41px;
    font-weight: bold;
    color: #FFFFFF;
    border: 1px solid #E8C230;
    background-color: #E8C230;
    border-radius: 5px;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
  }
  .container-logar{
    position: absolute;
    width: 2000px;
    height: 397px;
    left: 0px;
    top: 50px;
    background: #EDBFA5;
  }
  .bem-vindo{
position: absolute;
width: 300px;
height: 63px;
left: 700px;
top: 169px;

font-family: 'News Cycle';
font-style: normal;
font-weight: 700;
font-size: 35px;
line-height: 58px;

color: #B19381;
  }
  .container-caixa1{
position: absolute;
width: 400px;
height: 427px;
left: 300px;
top: 309.5px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
  }
.container-caixa1 .acesso1{
position: absolute;
width: 300px;
height: 63px;
left: 30px;
top: 43px;

font-family: 'News Cycle';
font-style: normal;
font-weight: 700;
font-size: 37px;
line-height: 54px;

color: #B19381;
}
.container-caixa1 .email1{
position: absolute;
width: 333px;
height: 66px;
left: 30px;
top: 110px;

background: #D9D9D9;
border-radius: 10px;
}
.container-caixa1 .senha1{
  position: absolute;
  width: 333px;
  height: 66px;
  left: 30px;
  top: 190px;
  
  background: #D9D9D9;
  border-radius: 10px;
  }
  .container-caixa1 .entrar1{
position: absolute;
width: 299px;
height: 57px;
left: 51px;
top: 320px;

background: #FC8413;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;
  }
  .container-caixa2{
    position: absolute;
    width: 400px;
    height: 427px;
    left: 960px;
    top: 309.5px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
      } 
  .container-caixa1 .acesso1{
position: absolute;
width: 300px;
height: 63px;
left: 30px;
top: 43px;

font-family: 'News Cycle';
font-style: normal;
font-weight: 700;
font-size: 37px;
line-height: 54px;

color: #B19381;
}
.container-caixa2 .acesso2{
  position: absolute;
  width: 300px;
  height: 63px;
  left: 30px;
  top: 43px;
  
  font-family: 'News Cycle';
  font-style: normal;
  font-weight: 700;
  font-size: 37px;
  line-height: 54px;
  
  color: #B19381;
  }
  .container-caixa2 .email2{
    position: absolute;
    width: 333px;
    height: 66px;
    left: 30px;
    top: 110px;
    
    background: #D9D9D9;
    border-radius: 10px;
    }
    .container-caixa2 .senha2{
      position: absolute;
      width: 333px;
      height: 66px;
      left: 30px;
      top: 190px;
      
      background: #D9D9D9;
      border-radius: 10px;
      }
      .container-caixa2 .criar{
    position: absolute;
    width: 299px;
    height: 57px;
    left: 51px;
    top: 280px;
    
    background: #FC8413;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
      }
      .container-caixa2 .criar-ong{
        position: absolute;
        width: 299px;
        height: 57px;
        left: 51px;
        top: 350px;
        
        background: #E8C230;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
          }
/*CONTENER RODAPÉ*/
.conteiner-buttom{

  position: absolute;
  width: 2000px;
  height: 300px;
  left: 3px;
  top: 870px;

  background: #07665F;
  border-radius: 5px;
}

.conteiner-buttom img{
  position: absolute;
  width: 158px;
  height: 156px;
  left: 380px;
  top: 7px;
}

.conteiner-buttom p{
  position: absolute;
  width: 317px;
  height: 99px;
  left: 450px;
  top: 122px;
  font-family: 'News Cycle', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: justify;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.conteiner-buttom h3{
  position: absolute;
  width: 97px;
  height: 31px;
  left: 850px;
  top: 54px;
  font-family: 'News Cycle', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 31px;
  text-align: justify;
  color: #FC8413;
} 

.conteiner-item1{

  font-family: 'News Cycle', sans-serif;
  position: absolute;
  width: 106px;
  height: 31px;
  left: 850px;
  top: 101px;
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 31px;
  text-align: justify;
  color: #FFFFFF;
}

.conteiner-item2{

  font-family: 'News Cycle', sans-serif;
  position: absolute;
  width: 106px;
  height: 31px;
  left: 850px;
  top: 140px;
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 31px;
  text-align: justify;
  color: #FFFFFF;
}

  