/*SELECIONA TODOS OS ELEMENTOS*/
* {
    margin: 0;
    padding: 0;
    font-family: 'News Cycle', sans-serif;
}
  
  /*CORES DO SITE*/
:root{
    --cor1:#FC8413; /*laranja*/
    --cor2:#00A599; 
    --cor3:#E8C230; 
  
}
  /*FONTE DO SITE: BUSCANDO NO GOOGLE A FONTE*/
  @import url('https://fonts.googleapis.com/css2?family=Mooli&family=News+Cycle:wght@400;700&display=swap');
  
  /*todos os links*/
a {
    text-decoration: none; /*sem a linha de baixo*/
    color: black;
    font-family: 'News Cycle', sans-serif;
}
a:hover{
    opacity: 0.7;
}
.logo{
    width: 32px;
    height: 2px;
    font-weight: bold;
    letter-spacing: 3px;
    margin: 8px;
    position:relative ;
    opacity: 0.7;
    
}
  
h2{
    font-family: 'News Cycle', sans-serif;
}
  /*MENU*/
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'News Cycle', sans-serif;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 6.5vh;
}
.menu{ 
    list-style: none;
    display: flex;
    margin-left: 150px;
    
}
/*MENU - itens*/
.menu li{
    letter-spacing: 3px;
    margin-left: 32px;
    cursor: pointer;
}
.btn-adotar:hover{
    background-color: #FFFFFF;
    color: #FC8413;
    font-weight: bold;
    transform: scale(1.2);
}
  
.btn-entrar:hover{
    background-color: #FFFFFF;
    color: #E8C230;
    font-weight: bold;
    transform: scale(1.2);
}
  
.btn-adotar{
    align-items: center;
    text-align: center;
    margin-left: 600px;
    margin-right: 10px;
    justify-content: center;
    cursor: pointer;
    border: none;
    text-decoration: none;
    list-style: none;
    letter-spacing: 1px;
    display: flex;
    width: 140px;
    height: 41px;
    font-weight: bold;
    color: #FFFFFF;
    border: 1px solid #FC8413;
    background-color: #FC8413;
    border-radius: 5px;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}
  
.btn-entrar{
    align-items: center;
    text-align: center;
    margin-left: 600px;
    margin-right: 150px;
    justify-content: center;
    cursor: pointer;
    border: none;
    text-decoration: none;
    list-style: none;
    margin-left: 5px;
    letter-spacing: 1px;
    display: flex;
    width: 140px;
    height: 41px;
    font-weight: bold;
    color: #FFFFFF;
    border: 1px solid #E8C230;
    background-color: #E8C230;
    border-radius: 5px;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}

/*CABEÇALHO*/
.conteiner-adotar{
    position: absolute;
    width: 2000px;
    height: 326px;
    font-family: 'News Cycle', sans-serif;
    top: 56px;
    
    background: #EDD9A5;
}

.conteiner-adotar h2{
    position: absolute;
    left: 190px;
    top: 150px;
    font-style: normal;
    font-weight: 700;
    font-size: 39px;
    line-height: 64px;

    color: #B1A37E;


}

.conteiner-adotar-p{
    position: absolute;
    left: 190px;
    top: 230px;

    font-family: 'News Cycle', sans-serif;
    font-style: normal;
    font-size: 20px;

    color: #B1A37E;

}
/*CARD DO ANIMAIS*/
.card-adotar-1{
    position: absolute;
    width: 316px;
    height: 419px;
    left: 220px;
    top: 380px;

    background: #FFFFFF;
    box-shadow: 0.5px 10px #e6e6e6;
    border-radius: 15px;
}

.card-adotar-1 .imgBx1{
    position: absolute;
    width: 214px;
    height: 236px;
    left: 50px;
    top: 10px;
}
.card-adotar-1 .card-adotar-p-1{
    position: absolute;
    width: 303px;
    height: 50px;
    left: 15px;
    top: 260px;

    font-family: 'News Cycle', sans-serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;

    color: #FC8413;
}

.card-adotar-1 h3{

    color: #000000;
    font-family: 'News Cycle', sans-serif;
    font-weight: normal;
    font-size: 20px;
    margin-top: 280px;
    margin-left: 20px;
}

.card-adotar-1 .btn-adotar{

    position: absolute;
    width: 299px;
    height: 41px;
    left: 100px;
    top: 790px;
    
}